<div class="content center-singup">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Registro de usuario</mat-card-title>
            <mat-card-subtitle>Registra tus datos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <form [formGroup]="singUpForm" (ngSubmit)="doSingUp()" class="singup-form">
                <mat-form-field appearance="fill">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="hasError('email')">
                        <span *ngIf="hasErrorForValidation('email','required')">Correo electronico requerido</span>
                        <span *ngIf="hasErrorForValidation('email','email')">Correo electronico invalido</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" type="text">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="hasError('name')">
                        <span *ngIf="hasErrorForValidation('name','required')">Nombre requerido</span>
                        <span *ngIf="hasErrorForValidation('name','minlength')">Nombre y Apellido</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [type]="icon==='visibility'? 'text':'password'">  
                    <mat-icon matSuffix (click)="toggleIcon()">{{icon}}</mat-icon>                  <mat-error *ngIf="hasError('password')">
                        <span *ngIf="hasErrorForValidation('password','required')">Contraseña requerida</span>
                        <span *ngIf="hasErrorForValidation('password','minlength')">Contraseña debe ser minimo 8 caracteres</span>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="!singUpForm.valid || singUpForm.untouched" (click)="doSingUp()">Registrarse</button>
        </mat-card-actions>
    </mat-card>
</div>
