<div class="content-aboutus">
    <ul class="about">
        <li class="somos">
            <div class="somosdiv">
                <h1>¿QUIENES SOMOS?</h1>
                <h3>La Registraduría Nacional del Estado Civil es una entidad con autonomía administrativa, contractual y presupuestal, organizada de manera desconcentrada, que tiene a su cargo el registro de la vida civil e identificación de los colombianos y la realización de los procesos electorales y los mecanismos de participación ciudadana, con plenas garantías para los colombianos.</h3>
            </div>
        </li>
        <li class="mision">
            <div class="somosdiv">
                <h1>MISION</h1>
                <h3>Es misión de la Registraduría Nacional del Estado Civil, garantizar la organización y transparencia del proceso electoral, la oportunidad y confiabilidad de los escrutinios y resultados electorales, contribuir al fortalecimiento de la democracia mediante su neutralidad y objetividad, promoviendo la participación social.</h3>
            </div>
        </li>
        <li class="vision">
            <div class="somosdiv">
                <h1>VISION</h1>
                <h3>La Registraduría Nacional del Estado Civil será una Institución reconocida por la ciudadanía colombiana, por su excelencia en la prestación de los servicios a su cargo, garantizando la facilidad de acceso a toda la población, mediante la utilización de tecnologías modernas y el compromiso de sus funcionarios en la consolidación de un sistema de registro civil e identificación ágil, confiable y transparente, en la expedición de los documentos de identidad y la oportunidad, transparencia y eficiencia en la realización de los procesos electorales</h3>
            </div>
        </li>
    </ul>
</div>
