
<div class="content center-login">
    <mat-card>
        <mat-card-header>
            <mat-card-title>INICIO DE SESION</mat-card-title>
            <mat-card-subtitle>Ingresa tus credenciales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="login-form" #loginFormRef="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="hasError('email')">
                        <span *ngIf="hasErrorForValidation('email','required')">Correo electronico requerido</span>
                        <span *ngIf="hasErrorForValidation('email','email')">Correo electronico invalido</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [type]="icon==='visibility'? 'text':'password'">
                    <mat-icon matSuffix (click)="toggleIcon()">{{icon}}</mat-icon>
                    <mat-error *ngIf="hasError('password')">
                        <span *ngIf="hasErrorForValidation('password','required')">Contraseña requerida</span>
                        <span *ngIf="hasErrorForValidation('password','minlength')">Contraseña debe ser minimo 8 caracteres</span>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid || loginForm.untouched"
            (click)="loginFormRef.ngSubmit.emit()">Inicio de sesión</button>
        </mat-card-actions>
    </mat-card>
</div>
