.body{
    overflow-x: hidden;
 }

.center-login{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding-left: 0;
    padding-right:0;
    width: 100%;
}

.card-content {
    padding: 3rem 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}