@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de pagina*/
footer{
    background-color: #0e294A;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.pie-pagina .grupo-1{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: gap 50px;
    padding: 20px 0px;
}
.pie-pagina .grupo-1 .box figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box img{
    width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: .7rem;
    font-size: 1rem;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 0.1rem;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0e294A;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    background-color: #274a6a;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 5px 0px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 0.8rem;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid: gap 30px;
        padding: 35px 0px;
    }
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li a{
    color: white;
    text-align: center;
    text-decoration: none;
}