<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encabezado responsive</title>
    <link rel="stylesheet" href="header.component.scss">
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="./assets/img/LogoRegistraduria.png" alt="Logo Regsitraduria"> 
            <h2 class="registraduria-nacional">Registraduria Nacional</h2>
        </a>
        <nav>
            <a routerLink="singup" class="nav-link">SingUp</a>
            <a routerLink="login" class="nav-link">Login</a>
        </nav>
        
    </header>
    
</body>
</html>
